{% load url from future %}
<!DOCTYPE html>
<html>
<head>
	<title>QUnit Test Suite</title>

    {% for file in suite.qunit_css_files%}
    <link rel="stylesheet" href="{{ qunit_url }}{{ file }}" type="text/css" media="screen">
    {% endfor %}

    {% for url in suite.absolute_urls %}
    <script type="text/javascript" src="{{ url }}"></script>
    {% endfor %}

    {% for file in suite.qunit_js_files%}
    <script type="text/javascript" src="{{ qunit_url }}{{ file }}"></script>
    {% endfor %}

    {% for file in suite.js_files %}
    <script type="text/javascript" src="{{ js_url }}{{ file }}"></script>
    {% endfor %}
    
    {% if use_composite %}
    <script type="text/javascript">
        QUnit.testSuites([
        {% for subsuite in subsuites %}
            "{% url 'qunit_test_overview' subsuite %}"{% if not forloop.last %},{% endif %}
        {% endfor %}
        ]);
    </script>
    {% endif %}

    {% for file in files %}
    <script type="text/javascript" src="{% url 'qunit_test' file %}"></script>
    {% endfor %}
</head>
<body data-base-url="{% url 'qunit_test' '' %}">
    <h1 id="qunit-header">QUnit Test Suite ({{ suite.name|capfirst }})</h1>
    <h2 id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <div id="navigation">
        {% if previous_directory != None %}
        <a href="{% url 'qunit_test_overview' previous_directory %}">Go up</a>
        {% endif %}

        {% if subsuites %}
        Subsuites:
        <br>
        {% for suite in subsuites %}
        <a href="{{ suite }}/">{{ suite }}</a><br>
        {% endfor %}
        {% endif %}
    </div>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
    <div id="qunit-fixture"></div>
</body>



</html>
